.App {
  text-align: center;
}

.title {
  color: #4EC1C0;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav.nav-tabs .nav-link {
  background-color: #4EC1C0;
}