/* Title */

.title-container {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title-text {
  color: #4EC1C0; /* Change this to the color you want */
  margin-right: 10px; /* Adjust spacing as needed */
}

.title-logo {
  max-width: 35px;
  max-height: 35px;
}

/* Nav */

.nav-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #4EC1C0;
}